* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('xyz.png'); /* Make sure the filename is correct */
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
  }
  
  .login-container {
    width: 100%;
    max-width: 400px; /* Adjust this value to fit your design */
    margin: auto;
    padding: 1rem;
  }
  
  .login-box {
    background: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    margin-bottom: 1rem;
  }
  
  .input-group input {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .forgot-password {
    color: #305496;
    text-decoration: none;
    display: block;
    margin-top: 1rem;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #305496; /* A shade of blue */
    color: white;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #27407f; /* A darker shade of blue for hover effect */
  }
  